:root {
  --content-width: 640px;
  --text-color: #444;
  --background-color: #fffdfc;
  --foreground-color: #323230;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.canvas-container {
  display: inline;
  width: 100%;
  height: 100%;
}

.tracking {
  padding: 8px;
  color: oklch(0.95 0 0);
  background: oklch(0 0 0 / 0.8);
  font-size: 12px;
  line-height: 16px;
  min-width: 180px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 3px;
}

.heading {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 4px;
}
